@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?65577494');
  src: url('../font/fontello.eot?65577494#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?65577494') format('woff2'),
       url('../font/fontello.woff?65577494') format('woff'),
       url('../font/fontello.ttf?65577494') format('truetype'),
       url('../font/fontello.svg?65577494#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65577494#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; margin-right: 8px;} /* '' */
.icon-home:before { content: '\e803'; font-size: 18px; margin-right: 6px;} /* '' */
.icon-trophy:before { content: '\e804'; margin-right: 5px;} /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gamepad:before { content: '\f11b'; font-size: 18px; margin-right: 8px; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-youtube:before { content: '\f167'; font-size: 17px; color: #FFF; padding: 7px 14px;} /* '' */
.icon-twitch:before { content: '\f1e8'; font-size: 17px; color: #FFF; padding: 7px;} /* '' */
.icon-facebook:before { content: '\f30c'; font-size: 17px; color: #FFF; padding: 7px;} /* '' */