body
{
	padding: 0px;
	margin: 0px;
	background: url(../img/background2.png);
    background-repeat: no-repeat;
    background-color: #1e1e1e;
}

.menu_top
{
	height: 30px;
	background-color: #941818;
}

.lang
{
	float: right;
	padding: 5px 10px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.lang-select
{
	background-color: #941818;
    border-color: #820000;
    color: #FFF;
}

.lang-text
{
	float: left;
	color: #FFF;
}

.icons
{
	float: left;
}

.logo
{
	background-color: #efefef;
}

.logo-picture
{
	text-align: center;
    font-size: 54px;
    padding: 50px;
}

.menu
{
	border: none;
    float: right;
    padding: 7px 5px;
}

.container
{
	background-color: rgba(56, 56, 56, 0.48);
}

.box-title
{
	background-color: #941818;
    padding: 10px;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.box-content
{
    background-color: rgb(74, 74, 74);
    color: #FFF;
}

.box-bottom
{
	background-color: #941818;
	border-left: 1px solid #941818;
	border-right: 1px solid #941818;
}

.bottom-margin
{
	margin-bottom: 10px;
}

.articles
{
    padding: 15px 20px;
    border-bottom: 1px solid #383838;
    overflow: hidden;
}

.article-turnament
{
	font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

.article-title
{
	font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.article-date
{
	font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.article-content
{
	font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 10px;
}

.article-stats
{
    overflow: hidden;
    text-align: center;
}

.pages
{
    padding: 4px;
    float: left;
}

.page
{
    float: left;
    padding: 10px 15px;
	border: 1px solid #820000;
    margin-left: 5px;
    font-family: 'Oswald', sans-serif;
}

.page:hover
{
	cursor: pointer;
}

.page>a
{
	color: #FFF;
}

.text-page
{
	color: #FFF;
    background-color: #941818;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 315%;
    width: 100px;
    float: right;
    text-align: center;
}

.copy
{
	background-color: #941818;
    color: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    text-align: center;
}

.stats
{
    border-bottom: none;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.stats-col
{
	padding: 15px;
    background-color: rgb(74, 74, 74);
}

.button-submit
{
	color: #FFF;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    background-color: #4a4a4a;
    padding: 7px 10px;
    border: none;
    margin-bottom: 10px;
}

.button-submit-active
{
	 background-color: #941818;
}

.progress-b
{
	width: 100%;
    height: 20px;
    border: 1px solid #5f5f5f;
    position: relative;
}

.progress
{
	height: 20px;
    background-color: #941818;
    background: -webkit-linear-gradient(left, #941818 , #5ba256);
    background: -o-linear-gradient(right, #941818, #5ba256);
    background: -moz-linear-gradient(right, #941818, #5ba256);
    background: linear-gradient(to right, #941818 , #5ba256);
}

.progress-text
{
	position: absolute;
    width: 100%;
}

.button-join
{
	border: none;
    background-color: #941818;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}

.ladder-128
{
	float: left;
}

.ladder-64
{
	float: left;
}

.ladder-32
{
	float: left;
}

.ladder-16
{
	float: left;
}

.ladder-8
{
	float: left;
}

.ladder-4
{
	float: left;
}

.ladder-2
{
	float: left;
}

.ladder-win
{
	float: left;
}

.ladder-round
{
	font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 60px;
}

.ladder-round-margin
{
	margin-left: 50px;
}

.ladder-match
{
	margin-bottom: 15px;
}

.ladder-float
{
	float: left;
}

.ladder-line1
{
	height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 41.5px;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    float: left;
}

.ladder-line1-64
{
	height: 93px;
    width: 40px;
    margin-left: 10px;
    margin-top: 93.5px;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    float: left;
}

.ladder-line1-32
{
	height: 195px;
    width: 40px;
    margin-left: 10px;
    margin-top: 200px;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    float: left;
}

.ladder-line1-16
{
    height: 405px;
    width: 40px;
    margin-left: 10px;
    margin-top: 410px;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    float: left;
}

.ladder-line1-8
{
	height: 824px;
    width: 40px;
    margin-left: 10px;
    margin-top: 830px;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    float: left;
}

.ladder-line1-4
{
	height: 1680px;
    width: 40px;
    margin-left: 10px;
    margin-top: 1670px;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    float: left;
}

.ladder-line2
{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 3px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line2-64
{
    height: 93px;
    width: 40px;
    margin-left: 10px;
    margin-top: 2.5px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line2-32
{
    height: 198px;
    width: 40px;
    margin-left: 10px;
    margin-top: 3px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line2-16
{
	height: 405px;
    width: 40px;
    margin-left: 10px;
    margin-top: 6px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line2-8
{
	height: 820px;
    width: 40px;
    margin-left: 10px;
    margin-top: 11px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line2-4
{
    height: 1647px;
    width: 40px;
    margin-left: 10px;
    margin-top: 24px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line3
{
    height: 40px;
    width: 40px;
    margin-top: 55px;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line3-32
{
	height: 40px;
    width: 40px;
    margin-top: 160px;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line3-16
{
	height: 40px;
    width: 40px;
    margin-top: 368.5px;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line3-8
{
	height: 40px;
    width: 40px;
    margin-top: 789px;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line3-4
{
	height: 40px;
    width: 40px;
    margin-top: 1632px;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-line3-2
{
	height: 40px;
    width: 40px;
    margin-top: 3365px;
    border-bottom: 1px solid #FFF;
    float: left;
}

.ladder-match-64
{
    padding: 52.5px 0px;
    margin-left: 10px;
}

.ladder-match-32
{
	padding: 157.5px 0px;
	margin-left: 10px;
}

.ladder-match-16
{
	padding: 367.5px 0px;
	margin-left: 10px;
}

.ladder-match-8
{
	padding: 787.5px 0px;
	margin-left: 10px;
}

.ladder-match-4
{
	padding: 1628px 0px;
	margin-left: 10px;
}

.ladder-match-2
{
	padding: 3325px 0px;
	margin-left: 50px;
}

.ladder-match:last-child
{
	margin-bottom: 0px;
}

.ladder-first-team
{
	background-color: #2d2e2e;
    width: 220px;
    padding: 10px;
    margin-bottom: 5px;
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
    min-height: 40px;
}

.ladder-second-team
{
	background-color: #2d2e2e;
    width: 220px;
    padding: 10px;
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
    min-height: 40px;
}

.ladder-score
{
    float: left;
    background-color: #0a0a0a;
    padding: 10px 14px;
    margin-bottom: 5px;
    font-family: 'PT Sans Narrow', sans-serif;
    min-height: 40px;
}

.turnament-record
{
	font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 15px;
}

.turnament-record-date
{
	font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 10px;
}

.turnament-record-article
{
	float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.login-title
{
    font-size: 24px;
    font-family: 'Pathway Gothic One',sans-serif;
    color: #FFF;
    margin-bottom: 10px;
}

.login-input
{
    font-family: 'Pathway Gothic One',sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    width: 340px;
}

.login-center
{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

@media(max-width:425px)
{
	.text-page
	{
   		width: 100%;
	}

	.pages
	{
	    margin-left: auto;
	    margin-right: auto;
	    display: table;
	}

	.pages
	{
		float: none;
	}
}

@media(min-width:992px)
{
	.box-margin
	{
		margin-left:45px
	}

	.admin-options
	{
		float: right;
	}

	.stats-border
	{
  	 	border-left: 1px solid #383838;
    	border-right: 1px solid #383838;
	}

	.join
	{
		float: right;
	}
}

@media(max-width:992px)
{
	.stats-border
	{
		border-top: 1px solid #d6d6d6;
	    border-bottom: 1px solid #d6d6d6;
	}
}

@media(max-width:768px)
{
	.turnament-options
	{
		margin-left: 15px;
	}
}

@media(min-width:768px)
{
	.content
	{
		padding: 0 15px;
	}

	.stats
	{
		padding: 0 15px;
	}
}
